%h1 Befehle

%table
	%tr
		%th Typ
		%th Tweet
		%th Einschränkungen
		%th Beschreibung
	
	%tr
		%td Zusage
		%td.monospace @#{$config[:twitter][:bot_user]} ja
		%td -
		%td
			Sagt für die kommende Sneak zu.
			%br/
			Ersetzt vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Zusage mit PSP
		%td.monospace @#{$config[:twitter][:bot_user]} ja psp
		%td -
		%td
			Sagt für die kommende Sneak sowie das Prä-Sneak-Programm zu.
			%br/
			Ersetzt vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Zusage mit Freunden
		%td.monospace @#{$config[:twitter][:bot_user]} ja +2
		%td -
		%td 
			Sagt für die kommende Sneak mit zwei (dem Bot unbekannten) Freunden zu.
			%br/
			Ersetzt vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Absage
		%td.monospace @#{$config[:twitter][:bot_user]} nein
		%td -
		%td
			Sagt wieder ab.
			%br/
			Ersetz vorige Zu- / Absagen des Nutzers.
	
	%tr
		%td Automatischer Status
		%td.monospace @#{$config[:twitter][:bot_user]} auto $tweet
		%td -
		%td
			Setzt $tweet als Standardwert, der wöchentlich beim Start einer neuen Sneak-Runde abgearbeitet wird.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} auto ja psp
	
	%tr
		%td Status-Abfrage
		%td.monospace @#{$config[:twitter][:bot_user]} status
		%td -
		%td
			Fordert den Bot auf, den aktuellen Status auszugeben.
	
	%tr
		%td Interner Tweet
		%td.monospace  @#{$config[:twitter][:bot_user]} set $user $tweet
		%td Admins
		%td
			Verarbeitet $tweet intern so, als wäre er von $user eingetragen worden.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} set fabianonline ja
	
	%tr
		%td Alias
		%td.monospace @#{$config[:twitter][:bot_user]} set $user alias $name
		%td Admins
		%td
			Ändert den Alias von $user zu $name.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} set fabianonline alias Fabian
	
	%tr
		%td Bonusstempelzahl
		%td.monospace @#{$config[:twitter][:bot_user]} set $user bonus=$zahl
		%td Admins
		%td
			Setzt den Bonusstempelzähler von $user auf $zahl.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} set fabianonline bonus=3
	
	%tr
		%td Reservierungen
		%td.monospace @#{$config[:twitter][:bot_user]} reservierung $nummern
		%td Admins
		%td
			Trägt die Reservierungen nach $nummern ("anzahl"x"nummer") ein.
			Bereits eingetragene Reservierungen für die aktuelle Sneak werden gelöscht.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} reservierung 7x1356 3x8539
	%tr
		%td Sneak-Modus
		%td.monospace @#{$config[:twitter][:bot_user]} sneak $attribute
		%td Admins
		%td
			Ändert die Attribute der Sneak. Derzeit unterstützt:
			%ul
				%li bonus_points - Anzahl der Bonuspunkte, die bei einer Teilnahme an dieser Sneak vergeben werden.
				%li variant - Variante. Derzeit sind "single" und "double" vergeben. Bei "double" werden keine Bonuskarten akzeptiert.
			Es müssen nicht alle Attribute auf einmal gesetzt werden.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} sneak bonus_points=1 variant=single
	
	%tr
		%td Echo
		%td.monospace @#{$config[:twitter][:bot_user]} echo $text
		%td Admins
		%td
			Lässt den Sneaker-Bot eien Text twittern.
			%br/
			Beispiel:
			%span.monospace @#{$config[:twitter][:bot_user]} echo Denkt dran, diese Woche ist PSPizza. Treffen schon um 18:00 Uhr.
	
	%tr
		%td Bonuskarten
		%td.monospace @#{$config[:twitter][:bot_user]} bc 33=5 34=4 33=unused
		%td Admins
		%td
			Verwaltet Bonuskarten.
			%ul
				%li x=y - Der Bonuskarte x werden y Punkte gesetzt.
				%li x=unused - Die Bonuskarte x wird als unbenutzt markiert.
			Man kann die Attribute mehrfach auf einmal setzen - siehe Beispiel.

Bei den Admin-Befehlen bitte beachten:
%span.monospace $user
bezeichnet immer den aktuellen Twitter-Namen des Users, nicht seinen Alias!
