!!! 5
%html
	%head
		%title Sneaker-Bot
		:css
			body, td { font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;}
			table { border-collapse: collapse; }
			td { border-bottom: 1px dotted #aaa; border-left: 1px solid #000; border-right: 1px solid #000;}
			td.center { text-align: center; }
			th { border-bottom: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;}
			section { display: inline-block; float: left; margin-right: 10px;}
			h2 { margin-bottom: 5px; }
			tr.sum td { border-top: 2px solid #000; font-weight: bold;}

	%body
		%h1 Sneak am #{@sneak.time.strftime "%d.%m.%Y"}
		%strong Bonus-Punkte für diese Sneak:
		= @sneak.bonus_points

		%br/
		%br/
		
		%section
			%h2 Anmeldungen
			%table
				%tr
					%th Name
					%th Anzahl
					%th PSP
					%th Bezahlt
					%th Freikarte

				- @sneak.participations.all(:active=>true, :sum.gt=>0).sort_by{|p| p.user.to_s}.each do |p|
					%tr
						%td= p.user
						%td.center= p.sum
						%td.center= p.psp ? "X" : "-"
						%td.center= p.user.bonus_points>=5 ? "Bonus" : ""
						%td.center= p.frei ? "X" : "-"

				%tr.sum
					%td Summe
					%td.center{:colspan=>"4"}= "#{@sneak.sum}, davon #{@sneak.participations.all(:active=>true).select{|p| p.sum>0 && p.user.bonus_points>=5}.count} mit Bonuskarten"

		%section
			%h2 Bonuskarten
			%table
				%tr
					%th Ganz neu
					%th Auffüllen
					%th Halb und halb
				
				%tr
					%td= @sneak.participations.all(:active=>true, :sum.gt=>0).collect(&:user).select{|u| (u.bonus_points%5)==0}.collect{|u| u.to_s}.sort.join("<br />")
					%td= @sneak.participations.all(:active=>true, :sum.gt=>0).collect(&:user).select{|u| u.bonus_points%5>0 && (u.bonus_points%5)+Sneak.newest.bonus_points<=5}.collect{|u| u.to_s}.sort.join("<br />")
					%td= @sneak.participations.all(:active=>true, :sum.gt=>0).collect(&:user).select{|u| u.bonus_points%5>0 && (u.bonus_points%5)+Sneak.newest.bonus_points>5}.collect{|u| u.to_s}.sort.join("<br />")
		
		%br{:style=>"clear: left;"}/

		%section
			%h2 Bonuspunkte
			%table
				%tr
					%th Name
					%th Punkte
					%th Standard

				- User.all.sort_by{|u| u.to_s}.each do |u|
					%tr
						%td= u
						%td= u.bonus_points
						%td= u.auto
									
		%section
			%h2 Historie
			%table
				%tr
					%th Zeitpunkt
					%th User
					%th Meldung
				
				- @sneak.participations.all(:order=>:time).each do |p|
					%tr
						%td= p.time.strftime("%d.%m. %H:%M") rescue "?"
						%td= p.user.to_s
						%td= p.text
